$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.wrapper {
  height: 100vh;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

[draggable="true"] {
  -moz-user-select:none;
  user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

.drop-zone, .puzzle-preview, .puzzle-game {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px #bebebe dashed;
  transition: all .4s ease;
  z-index: 2;
  background: #fff;

  h3 {
    font-size: 48px;
    color: #ebebeb;
  }
}

/* Drop zone */

.drop-zone {
  height: 300px;
  
  &.drag-over {
    border-color: #333;
  }
}

/* Puzzle preview */

.puzzle-preview {
  height: 470px;
  
  .create-puzzle {
    margin-bottom: 30px;
  }

  figure {
    max-width: 90%;
    max-height: 320px;
    overflow: hidden;
  }
}

/* Puzzle game */

.game-wrapper {
  max-width: 80%;
}

.puzzle-game {
  max-width: 100%;
}

.single-puzzle {

}

.dz-highlight {
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

.puzzle-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  max-width: 80%;
}

/* Puzzle dropzones */

.puzzle-game-dz {
  display: flex;
  flex-wrap: wrap;
}

.single-puzzle-game-dz {
  border: 1px solid #ccc;
}

/* Show/hide views */

.transparent-view {
  opacity: 0 !important;
}

.hide-view {
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
}