@import "bootstrap";

.wrapper {
  height: 100vh;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

[draggable="true"] {
  -moz-user-select:none;
  user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

.upload-drop-zone, .puzzle-preview, .puzzle-game {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px #bebebe dashed;
  transition: all .4s ease;
  z-index: 2;
  background: #fff;

  h3 {
    font-size: 48px;
    color: #ebebeb;
    text-align: center;
  }
}

.upload-drop-zone, .puzzle-preview {
  padding: 15px;
  height: 100%;
}

/* Drop zone */

.upload-drop-zone {
  max-height: 60%;
  
  &.drag-over {
    border-color: #333;
  }
}

/* Puzzle preview */

.puzzle-preview {
  max-height: 80%;
  
  .create-puzzle {
    margin-bottom: 30px;
  }

  figure {
    max-width: 90%;
    max-height: 320px;
    overflow: hidden;
  }
}

/* Puzzle game */

.game-wrapper {
  max-width: 100%;
}

.puzzle-game {
  max-width: 100%;
  border: 0;
  flex-direction: row;
}

.puzzle-highlight {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}

.dz-highlight {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
}

/* Puzzles list */

.puzzle-list {
  flex: 1;

  /* Single puzzle */
  & > img {
    position: relative;
  }
}

/* Puzzle dropzones */

.puzzle-dropzones {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: 2px dashed #ccc;
}

/* Show/hide views */

.transparent-view {
  opacity: 0 !important;
}

.hide-view {
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Responsive views */

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 100%;
  }

  .upload-drop-zone, .puzzle-preview {
    max-height: 80%;
    max-width: 800px;
    width: 94%;
  }
}

@media screen and (max-width: 800px) {
  .upload-drop-zone {
    > form {
      display: none;
    }
  }
}